.logo {
    height: 100px;
    border-style: outset;
    margin-left: 20px;
    /*background-color: rgb(245, 245, 245);*/
}

.mainHeader {
    display: flex;
    justify-content: space-between;
    background-color: rgb(219, 234, 252);
    margin-bottom: 15px;
}

.mainNav {
    margin-top: 40px;
    margin-right: 60px;
}

li a {
    color: black
}
