<div class="row">
    <div class="col-md-8">
    <h4 class=""> {{ house.address }} </h4>
    <h4> {{house.city}}, {{house.state}}  {{house.zipcode}}</h4>
    <p> {{house.bedrooms}} Bedroom / {{house.baths}} baths</p>
    </div>
    <div class="fixed-top col-md-4">
        <sebm-google-map [latitude]="lat" [longitude]="lng" class="mainMap">
          <sebm-google-map-marker [latitude]="lat" [longitude]="lng"></sebm-google-map-marker>
        </sebm-google-map>
    </div>
</div>
<button class="btn btn-primary" routerLink="/" type="button" name="button">Back to All Houses</button>
