<div *ngIf="!hideMe" class="row">
    <div class="col-md-6">
        <app-house-list
        (houseWasSelected)="seletedHouse = $event"></app-house-list>
    </div>
    <div class="col-md-6">
        <sebm-google-map [latitude]="lat" [longitude]="lng" class="mainMap">
          <sebm-google-map-marker [latitude]="lat" [longitude]="lng"></sebm-google-map-marker>
        </sebm-google-map>
    </div>
</div>


<div *ngIf="hideMe" class="col-md-12">
<app-house-detail
*ngIf="seletedHouse; else infoText"
[house]="seletedHouse"></app-house-detail>
<ng-template #infoText>HERE<p></p></ng-template>
</div>
